---
import AddTaskButton from "../components/AddTaskButton.astro";
import Layout from "../layouts/Layout.astro";
---

<!-- HOME -->
<Layout title="Inicio">
<div class="container">
    <p>Bienvenido a <b>Daily Task Manager</b>, tu herramienta diaria para organizar tus tareas con eficiencia.</p>
   <AddTaskButton button='Agregar Tarea'/>

</div>

</Layout>

<style>
    .container {
        align-self: center;
        text-align: center;
    }
</style>