---
import CardTask from "../components/tasks/CardTask";
import TaskList from "../components/tasks/TaskList";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex-col max-w-52">

        <CardTask client:load/>
        <p class="mt-20 text-justify min-w-full w-80">Introduzca una tarea para poder agregarla a la lista de pendientes.</p>
    </div>
    <div class="flex-col">
        <TaskList client:load/>
    </div>
</Layout>