---
const { button } = Astro.props;



---

<button id="button">
    <slot>{button}</slot>
</button>

<style>
    button {
        background-color: rgb(3, 13, 150);
        padding: 10px;
        color: white;
        border-radius: 20px;
        margin-top: 25px;
        font-weight: 600;
    }

    button:hover {
        background-color: rgb(3, 8, 100);
    }
</style>
