<div class="contenedor__principal">
    <div class="logo">
        <h1>
            Daily Task Manager | 
        </h1>
        <span class="font-bold ">
            DTM
        </span>
    </div>
</div>

<style>
    .logo {
        display: flex;
        gap: 5px;
        justify-self: flex-start;
        padding: 2px;
        margin: 5px;
    }
    .contenedor__principal {
        display: flex;
        align-items: center;
        height: 100%;
        margin-bottom: 5px;
        
    }
</style>