---
import Header from "../components/Header.astro";

 const { title } = Astro.props;

---
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
    <!-- Aca vamos a poner el Header -->
	<body>

        <Header/>
        <main>
            <slot/>
        </main>
	</body>
</html>

<!-- ESTILOS GLOBALES -->
<style>
 main {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    min-height: 100vh;
 }
</style>

